{{#each country}}
<li class="country-list__item">
    <img src="{{flags.svg}}" alt="{{name.official}}" class="country-list__image" />
    <span class="country-list__name">{{name.official}}</span>
</li>
{{/each}}